body {
    background-color: darkgray;
}

.container-header {
    width: 100%;
    height: 400px;
    background-color: aqua;
}

.publish{
    background-color: antiquewhite;
}

.publish h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish>p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish>form {
    display: flex;
}

.publish>form p {
    color: #025157;
    margin-right: 18px;
}

.publish>form input {
    height: 30px;
    border-radius: 5px;

}

.publish>form button {
    color: white;
    height: 35px;
    background-color: #025157;
    padding-left: 14px;
    padding-right: 14px;
    border: 0;
    border-radius: 5px;
}

form{
    align-items: center;
}