body{
    background-color: darkgray;
}
.container-header{
    width: 100%;
    height: 200px;
    background-color: aqua;
}

.p-section{
    height: 300px;
    background-color: cadetblue;
}

.container-section-promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    justify-content: center;
}

.item-article{
    width: 30%;
    height: 100px;
    background-color: cadetblue;
}